{% extends 'layout.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% if form.errors %}
<div class="border  px-4 py-3 rounded relative" role="alert">
    <span class="block sm:inline">There was an error registering you</span>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    </span>
</div>
{% endif %}

<br>
    <form action="{% url "register" %}" method="post" class="flex items center justify-center">
        {% csrf_token %}
            <div class="w-max py-2 px-4 bg-white backdrop-blur-xl rounded-lg shadow-md text-black flex flex-col justify-center gap-5 ">
                <h1 class="text-2xl font-bold text-center">Create account</h1>
                {% crispy form %}
                <center><input type="submit" value="Submit" class="font-bold bg-[#2b2694] text-white p-2 w-auto hover:bg-sky-400 rounded-lg"></center>
            </div>
    </form>
{% endblock %}